.home {
  .choice {
    .container {
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1280px) {
          flex-direction: column;
        }
        h1 {
          font-size: 50px;
          text-transform: uppercase;
          color: #00264b;
          max-width: 200px;
          font-weight: 500;
          span {
            color: #008ce1;
            font-weight: 700;
          }
          @media screen and (max-width: 1280px) {
            max-width: 100%;
            text-align: center;
          }
          @media screen and (max-width: 768px) {
            font-size: 28px;
          }
        }
        /* Birinchi <p> tagini tanlash */
        p:nth-of-type(1) {
          width: 25%;
          font-size: 22px;
          color: #00264b;
          @media screen and (max-width: 1280px) {
            width: 100%;
            text-align: center;
            margin-top: 20px;
          }
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
        /* Birinchi <p> tagini tanlash */
        p:nth-of-type(2) {
          width: 40%;
          font-size: 22px;
          color: #00264b;
          @media screen and (max-width: 1280px) {
            width: 100%;
            text-align: center;
            margin-top: 20px;
          }
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
      ul {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        gap: 20px;
        @media screen and (max-width: 1280px) {
          flex-wrap: wrap;
        }
        li {
          width: 23%;
          border-radius: 25px;
          background-color: white;
          padding: 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          @media screen and (max-width: 1280px) {
            width: 31%;
          }
          @media screen and (max-width: 1024px) {
            width: 48%;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
            border-radius: 15px;
          }
          .img1 {
            border-radius: 15px;
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../../img/choice1.jpg);
          }
          .img2 {
            border-radius: 15px;
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../../img/choice2.jpg);
          }
          .img3 {
            border-radius: 15px;
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../../img/choice3.jpg);
          }
          .img4 {
            border-radius: 15px;
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../../img/choice4.jpg);
          }
          @media screen and (max-width: 1024px) {
            .img1,
            .img2,
            .img3,
            .img4 {
              height: 250px;
            }
          }
          h2 {
            color: #00264b;
            font-size: 22px;
            padding: 15px;
            @media screen and (max-width: 768px) {
              font-size: 18px;
            }
          }
          p {
            color: #00264b;
            opacity: 0.7;
            font-size: 18px;
            padding: 0 15px;
            margin-bottom: 10px;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
