.home {
  .main {
    margin-top: 25px;
    padding-bottom: 25px;
    .container {
      display: flex;
      gap: 15px;
      @media screen and (max-width: 1370px) {
        flex-direction: column;
      }
    }
    .left {
      width: 45%;
      background-color: #00264b;
      border-radius: 25px;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      @media screen and (max-width: 1370px) {
        align-items: center;
      }
      @media screen and (max-width: 675px) {
        padding: 35px;
      }
      h1 {
        color: white;
        font-size: 44px;
        span {
          color: #ff8800;
        }
        @media screen and (max-width: 1370px) {
          text-align: center;
        }
        @media screen and (max-width: 675px) {
          font-size: 28px;
        }
      }
      p {
        color: white;
        line-height: 25px;
        font-size: 18px;
        @media screen and (max-width: 1370px) {
          text-align: center;
          max-width: 800px;
        }
      }
      @media screen and (max-width: 1370px) {
        width: 100%;
      }
    }
    .right {
      position: relative;
      display: flex;
      align-items: end;
      width: 55%;
      img {
        width: 100%;
        border-radius: 25px;
      }
      a {
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 10px 10px 5px 0;
        background-color: #f7f6fb;
        border-radius: 0 15px 0px 0;
        // border: 1px solid red;
        button {
          padding: 12px 27px;
          background-color: #ff8800;
          font-size: 22px;
          color: white;
          border: none;
          border-radius: 10px;
          transition: 0.3s;
          cursor: pointer;
          &::after {
            content: "";
            top: 0px;
            left: 0px;
            transform: translateY(-40px);
            box-shadow: -13px 8px #f7f6fb;
            position: absolute;
            width: 40px;
            height: 40px;
            border-bottom-left-radius: 20px;
            background-color: transparent;
          }
          &::before {
            content: "";
            bottom: -40px;
            right: -40px;
            transform: translateY(-40px);
            box-shadow: -5px 8px #f7f6fb;
            position: absolute;
            width: 40px;
            height: 40px;
            border-bottom-left-radius: 20px;
            background-color: transparent;
          }
        }
      }
      @media screen and (max-width: 1370px) {
        display: none;
      }
    }
    .bottom {
      background-image: url(../../img/homeMain.jpg);
      width: 100%;
      height: 390px;
      border-radius: 25px;
      background-repeat: no-repeat;
      background-position: center 20%;
      background-size: cover;
      @media screen and (min-width: 1370px) {
        display: none;
      }
      @media screen and (max-width: 576px) {
        height: 320px;
      }
    }
    .btn {
      button {
        width: 100%;
        padding: 12px 27px;
        background-color: #ff8800;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 25px;
        transition: 0.3s;
        cursor: pointer;
      }
      @media screen and (min-width: 1370px) {
        display: none;
      }
    }
  }
}
