.ourTeam {
  .team {
    margin-top: 25px;
    margin-bottom: 50px;
    .container {
      span {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        button {
          cursor: pointer;
          padding: 10px 28px;
          color: #00264b;
          background-color: white;
          font-size: 18px;
          font-weight: 200;
          border-radius: 42px;
          border: 1px solid #00264b;
          @media screen and (max-width: 768px) {
            font-size: 12px;
            padding: 10px;
          }
        }
        .active {
          color: white;
          background-color: #00264b;
        }
        @media screen and (max-width: 768px) {
         gap: 10px;
        }
      }
      ul {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        li {
          width: 23%;
          border-radius: 16px;
          background-color: white;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          padding-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          img {
            width: 100%;
            border-radius: 16px;
          }
          h1 {
            text-transform: uppercase;
            color: #00264b;
            font-size: 22px;
            font-weight: 500;
            padding: 0 20px;
          }
          p {
            color: #00264b;
            opacity: 0.7;
            padding-left: 20px;
          }
          @media screen and (max-width: 1280px) {
            width: 48%;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}
